#product {
  display: flex;
  margin-bottom: 20px;

  & > div {
    width: calc(100% / 3);
  }

  #product-img img {
    width: 100%;
  }

  #product-info {

    .product-name h1 {
      font-size: 2rem;
      font-weight: bold;
    }

    .product-price {
      margin-top: 10px;
    }

    .product-avis {
      font-size: 1.6rem;
    }
  }

  #product-price-chart {
    height: 250px;

    .recharts-cartesian-axis-ticks text {
      fill: #FF6600;
    }

    .rechart-custom-tooltip {
      border: 1px solid #E7E7E7;
      background-color: #F8F8F8;
      padding: 5px;
      display: flex;
      flex-direction: column;
    }
  }
}

#stores {
  padding-bottom: 10px;

  h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }

  li {
    display: flex;
    border: 1px solid #E7E7E7;
    background-color: #F8F8F8;
    margin-bottom: 10px;
    font-size: 1.4rem;

    & > div {
      width: calc(100% / 5);
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .store-product-link {
      display: flex;

      a {
        flex: 1;
        text-align: center;
        background-color: #FF6600;
        border-radius: 2px;
        padding: 10px;
        color: #FFFFFF;
      }
    }
  }
}
